@font-face {
  font-family: "Lexend Deca";
  src: url("../media/fuente/LexendDeca-VariableFont_wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}


/* usuario */
.gradient-custom {
  --purple1: #741a83;
  --purple2: #d20093;
  --green1: #741a83;
  --green2: #741a83;

  background: linear-gradient(
    90deg,
    var(--purple1) 0%,
    var(--purple2) 50%,
    var(--green1) 100%
  );
  background-size: 200% 200%;
  animation: smoothGradient 10s ease infinite;
}

.compra {
  --purple1: #c785d2;
  --purple2: #a600c3;
  --green1: #ff00d4;
  --green2: #aa5db8;

  background: linear-gradient(
    270deg,
    var(--purple1),
    var(--purple2),
    var(--green1),
    var(--green2)
  );
  background-size: 800% 800%;
  animation: smoothGradient 5s ease infinite;

  color: white;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

  /* Centrado dentro de su contenedor */
  display: inline-block;
  margin: 0 auto;
}

/* Fondo animado */
@keyframes smoothGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Animación del fondo */
@keyframes smoothGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* admin */
.gradient-custom2 {
  --purple1: #3d3d3d;
  --purple2: #3a44f8;
  --green1: #3d3d3d;
  --green2: #3d3d3d;

  background: linear-gradient(
    90deg,
    var(--purple1) 0%,
    var(--purple2) 50%,
    var(--green1) 100%
  );
  background-size: 200% 200%;
  animation: smoothGradient 10s ease infinite;
}

@keyframes smoothGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-family: "Lexend Deca", sans-serif;
}

.fondo {
  background-image: url("imgFondo/Fondo1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.fondo2 {
  background-image: url("imgFondo/Fondo2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.btn-login {
  background-color: transparent;
  border: 1px solid white;
  transition: all 0.3s;
}
.btn-login:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.horario-box {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.horario-box:hover {
  background-color: #000;
  color: #fff;
}

.info-text {
  text-align: justify;
}
.pantalla {
  background-color: #999;
  color: white;
  text-align: center;
  padding: 15px;
  margin-bottom: 30px;
}

.pantalla2 {
  background-color: #ffffff00;
  color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 90px;
  margin-bottom: 3px;
}

.sala {
  display: flex;
  flex-direction: column;
}

.asiento {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border: 2px solid #999;
  color: #000;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
  margin: 3px;
}

.asiento:hover {
  background-color: #e8c99b;
}

.asiento.seleccionado {
  background-color: #e28700;
  color: white;
}

.asiento.ocupado {
  background-color: #741a83;
  cursor: not-allowed;
  color: white;
}

.fila-asientos {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.resumen-compra {
  margin-top: 20px;
}

/* Ajuste para body y html */
.pagina-pago {
    height: 90%;
}

/* Contenedor central de contenido */
.pagina-pago__contenido {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 2rem 2rem 2rem;
}

.pagina-pago__formulario {
    width: 100%;
    max-width: 600px;
    font-size: 1.3rem;
}

.pagina-pago__formulario input,
.pagina-pago__formulario select,
.pagina-pago__formulario button {
    font-size: 1.2rem !important;
}

.pagina-pago__formulario label {
    font-weight: bold;
}

.pagina-pago__formulario .btn-group .btn {
    padding: 0.75rem 1.5rem;
}
