@font-face {
  font-family: 'Lexend Deca';
  src: url('../media/fuente/LexendDeca-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.gradient-custom{
  background: #741A83;
    background: linear-gradient(90deg, rgba(116, 26, 131, 1) 0%, rgba(153, 0, 106, 1) 100%);
}
body{
  font-family: 'Lexend Deca', sans-serif;
}
